/* base.css */
body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #fdfdfd;
    color: #333;
    padding: 2rem;
}

h1, h2, h3 {
    font-weight: 300;
    letter-spacing: 1px;
    color: #333;
    margin: 0 0 1rem 0;
}

/* Table Container */
.table-container {
  width: calc(100% - 40px); /* Adjusted for left and right margins */
  overflow-y: auto;
  height: calc(100vh - 50px); /* Adjusted to account for the footer and margins */
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* top | left and right | bottom */
  margin: 0.5em auto 4.5em;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4682B4;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: sticky;
  top: 0;
  z-index: 2;
}

tr:nth-child(even) {
  background-color: #ebf8ff;
}

tr:hover {
  background-color: #ebfff2;
}

td {
  transition: background-color 0.3s;
}

/* Button styling */
.chart-button {
    background-color: #CC5500; 
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.chart-button:hover {
    background-color: #a34400;
}

.button {
    background-color: #B49C46;
    color: white;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button:hover {
    background-color: #8F7C36; /* Even darker on hover for a nice effect */
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

select {
    width: 25%;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

select:focus {
    border-color: #50C878; /* Emerald green */
    box-shadow: 0 0 5px rgba(80, 200, 120, 0.5);
}

select:hover {
    border-color: #00aaff; /* Light blue */
}

/* Custom arrow */
select::after {
    content: '▼';
    font-size: 12px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

canvas {
    padding: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}
  
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #00aaff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.hidden-file-input {
    display: none;
}

.custom-file-upload {
    padding: 3px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Consolas', 'Courier New', 'Menlo', 'Monaco', 'Lucida Console', monospace;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    position: relative;
    min-width: fit-content;
    border: 2px solid #007bff;
    background-color: white;
    color: #007bff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: border-pulse 2s infinite;
    width: 75%;
}

.custom-file-upload.completed {
    border: 2px solid #ccc;
    box-shadow: none;
    animation: none;
}

/* Form Group */
.form-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

/* Label Styling */
.form-group label {
    width: 25%; /* Adjust the width as needed */
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

/* Text Input Styling */
.form-group input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group input[type="text"]:focus {
    border-color: #50C878; /* Emerald green */
    box-shadow: 0 0 5px rgba(80, 200, 120, 0.5);
}

.form-group input[type="text"]:hover {
    border-color: #00aaff; /* Light blue */
}

.form-group input[type="text"]::placeholder {
    color: #999;
}

.form-group input[type="text"]:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

@keyframes border-pulse {
    0% { border-color: #007bff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); }
    50% { border-color: #339bff; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); }
    100% { border-color: #007bff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); }
}

@media print {
    /* Hide unnecessary elements that may not be useful in print */
    body {
        overflow: visible;
    }

    /* Ensure the table takes the full width of the page */
    table {
        width: 100%;
    }

    thead {
        display: table-header-group;
    }

    /* Remove scrolling by setting a height that fits the entire content */
    .table-container {
        height: auto !important;
        overflow: visible !important;
    }
  
    /* Optional: Style adjustments for a better print layout */
    th, td {
        page-break-inside: avoid;
    }
}

.logo-container {
    width: var(--base-font-size);
    height: var(--base-font-size);
    display: inline-block;
    vertical-align: baseline;
    margin: 0 -0.02em 0 0;
    position: relative;
}

.custom-file-upload {
    padding: 3px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Consolas', 'Courier New', 'Menlo', 'Monaco', 'Lucida Console', monospace;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    position: relative;
    min-width: fit-content;
    border: 2px solid #007bff;
    background-color: white;
    color: #007bff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: border-pulse 2s infinite;
    width: 75%;
}

.code-container {
    background-color: #282c34;
    color: #abb2bf;
    padding: 10px 15px;
    margin: 2px 0;
    border-radius: 5px;
    font-family: 'Roboto Mono', Courier, monospace;
    font-size: 13px;
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1.3;
    text-align: left;
}

.highlight-brackets {
    color: #c678dd;
}

.highlight-curly {
    color: #e06c75;
}

.highlight-parentheses {
    color: #61afef;
}

.highlight-key {
    color: #d19a66;
}

.highlight-null {
    color: red;
}

.highlight-source {
    color: #98c379;
}

.highlight-object {
    color: #61afef;
}

.highlight-const {
    color: #56b6c2;
}

.highlight-appConfig {
    color: #e5c07b;
    font-weight: bold;
}

.highlight-dot {
    color: #abb2bf;
}

.highlight-double-curly {
    color: #ffd700;
}

.highlight-comment {
    color: #355e3b;
}

.accent-gradient {
    background: linear-gradient(to bottom, #E0ECF8, #4682B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Modal Styles */
.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background: #fff;
    border-radius: 4px;
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    box-sizing: border-box;
    position: relative;
    max-height: 80vh;
    overflow-y: auto; /* Allows vertical scroll when content exceeds boundary */
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #333;
}

.start-btn {
    margin-top: 1rem;
}

/* Button Styles */
.btn {
    display: inline-block;
    background: #4682B4;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #5b9bcf;
}

/* Accordion Styles */
.accordion {
    margin-top: 1.5rem;
    border-top: 1px solid #eee;
}

.accordion-item {
    border-bottom: 1px solid #eee;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.75rem 0;
}

.accordion-header h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.accordion-header .caret {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    color: #4682B4;
}

.accordion-header:hover h3 {
    color: #4682B4;
}

.accordion-content {
    display: none;
    padding: 0.5rem 0;
}

.caret.open {
    transform: rotate(180deg);
}

.accordion-content ul {
    list-style: none;
    padding: 0;
}  
  
.accordion-content ul li {
    position: relative;
    padding-left: 20px;
  }
  
.accordion-content ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #4682B4;
    border-radius: 3px; /* Rounded corners for a modern look */
}
